<!DOCTYPE html>
<html>
<head>
    <title>Shopping Cart</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>

<div class="cart-container">

    <h1>🛒 Shopping Cart</h1>

    {% if cart_items %}

        {% for item in cart_items %}

        <div class="cart-item">

            <h3>{{ item.name }}</h3>

            <p>₹{{ item.price }}</p>

        </div>

        {% endfor %}

    {% else %}

        <h2 class="empty-cart">
            Your Cart Is Empty
        </h2>

    {% endif %}

    <a href="/" class="back-btn">
        Back To Home
    </a>

</div>

</body>
</html>
