<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopEasy</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>

<header>

    <div class="logo">
        ShopEasy
    </div>

    <form method="GET">

        <input
            type="text"
            name="search"
            placeholder="Search products..."
            value="{{ search }}">

        <button type="submit">
            Search
        </button>

    </form>

    <a href="/cart">
        <button>
            View Cart
        </button>
    </a>

</header>

<section class="hero">

    <h1>Welcome to ShopEasy</h1>

    <p>
        Best Online Shopping Store
    </p>

</section>

<div class="products">

{% for product in products %}

<div class="card">
<img src="{{ url_for('static', filename=product.image) }}"
     alt="{{ product.name }}">

    <h2>
        {{ product.name }}
    </h2>

    <p class="price">
        ₹{{ product.price }}
    </p>

    <div class="buttons">

        <a href="/add_to_cart/{{ product.id }}">
            <button>
                Add To Cart
            </button>
        </a>

        <a href="/buy/{{ product.id }}">
            <button>
                Buy Now
            </button>
        </a>

    </div>

</div>

{% endfor %}

</div>

</body>
</html>
