<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>ShopEasy</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style1.css') }}">

</head>

<body>

<header>

    <div class="logo">
        ShopEasy
    </div>

    <form method="GET">

        <input
        type="text"
        id="searchBox"
        name="search"
        placeholder="Search products..."
        value="{{ search }}">

        <button type="submit">
            Search
        </button>

    </form>

    <div class="cart">
        🛒 Cart:
        <span id="cart-count">0</span>
    </div>

</header>

<section class="hero">

    <h1>
        Welcome to ShopEasy
    </h1>

    <p>
        Best Online Shopping Experience
    </p>

</section>

<div class="products">

{% for product in products %}

<div class="card">

    <img
    src="https://picsum.photos/300/250?random={{ loop.index }}"
    alt="Product">

    <h2>
        {{ product.name }}
    </h2>

    <p class="price">
        ₹{{ product.price }}
    </p>

    <button
    onclick="addToCart('{{ product.name }}')">

        Add To Cart

    </button>

</div>

{% endfor %}

</div>

<script
src="{{ url_for('static', filename='script1.js') }}">
</script>

</body>
</html>
